a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{background:0 0;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}



@font-face{font-family:Ampersand;src:local("Georgia"),local("Garamond"),local("Palatino"),local("Book Antiqua");unicode-range:U+0026}@font-face{font-family:Ampersand;src:local("Georgia");unicode-range:U+270C}.ampersand{font-family:Ampersand,Verdana,sans-serif}.breakword{word-wrap:break-word}.normal-wrap{word-wrap:normal}.inherit-wrap{word-wrap:auto}.drop-cap:first-letter{float:left;margin:auto .25em auto auto;padding:inherit;font-size:4em;font-family:inherit;line-height:1;text-indent:0;background:0 0;color:inherit}p+.drop-cap{text-indent:0;margin-top:0}html{font:400 112.5%/1.65 serif}body{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;-o-hyphens:auto;hyphens:auto;word-wrap:break-word;color:#444}small{font-size:65%}h1,h2,h3,h4,h5,h6{line-height:1;margin-top:0;text-rendering:optimizeLegibility;color:#222}.tera{font-size:117px;font-size:6.5rem;margin-bottom:.25385em}.giga{font-size:90px;font-size:5rem;margin-bottom:.33em}.mega{font-size:72px;font-size:4rem;margin-bottom:.4125em}.alpha,h1{font-size:60px;font-size:3.33333rem;margin-bottom:.495em}.beta,h2{font-size:48px;font-size:2.6667rem;margin-bottom:.61875em}.gamma,h3{font-size:36px;font-size:2rem;margin-bottom:.825em}.delta,h4{font-size:24px;font-size:1.3333333333333333rem;margin-bottom:1.2375em}.epsilon,h5{font-size:21px;font-size:1.16667rem;margin-bottom:1.4142857142857141em}.zeta,h6{font-size:18px;font-size:1rem;margin-bottom:1.65em}p{margin:auto auto 1.5em}p+p{text-indent:1.5em;margin-top:-1.5em}abbr,acronym,blockquote,code,dir,kbd,listing,plaintext,q,samp,tt,var,xmp{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;-o-hyphens:none;hyphens:none}pre code{word-wrap:normal;white-space:-moz-pre-wrap;white-space:pre-wrap}pre{white-space:pre}code{white-space:pre;font-family:monospace}abbr{font-variant:small-caps;font-weight:600;text-transform:lowercase;color:gray}abbr[title]:hover{cursor:help}.lining dd,.lining dt{display:inline;margin:0}.lining dd+dt:before,.lining dt+dt:before{content:"\A";white-space:pre}.lining dd+dd:before{content:", "}.lining dd:before{content:": ";margin-left:-.2em}.dictionary-style dt{display:inline;counter-reset:definitions}.dictionary-style dt+dt:before{content:", ";margin-left:-.2em}.dictionary-style dd{display:block;counter-increment:definitions}.dictionary-style dd:before{content:counter(definitions,decimal) ". "}.blockquote p:last-of-type{margin-bottom:-.825em}.blockquote+figcaption{display:block;font-size:inherit;text-align:right}.blockquote+figcaption:before{content:"-"}.pull-quote{position:relative;padding:1em}.pull-quote:after,.pull-quote:before{height:1em;opacity:.15;position:absolute;font-size:4em;color:#dc976e}.pull-quote:before{content:'“';top:0;left:0}.pull-quote:after{content:'”';bottom:0;right:0}





/* Imports */
@import url('pygment.css');
/*@import url('typeplate.css');*/

.caps {font-size:.92em;}
.amp {color:#666; font-size:1.05em;font-family:"Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua",serif; font-style:italic;}    
.dquo {margin-left:-.38em;}


/***** Global *****/
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}


/* Body */
body {
    /* color: #444; */
    font-family: Linux Libertine O, 'Linux Libertine', serif;
    font-size: 24px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
	/*font-family: Linux Libertine Capitals O, 'Linux Libertine SC', Linux Libertine O, 'Linux Libertine', serif;*/
	/*font-weight: normal;*/
}

h3{
	border-bottom: 3px double #eee;
	padding-bottom: 7px;
}

/*#banner h1, .site-subtitle{
	font-family: Linux Libertine O, 'Linux Libertine', serif;
}*/

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a{
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom:1px solid #ccc;
	color:#000;
}

a img {border: 0px; text-decoration: none;}


a:hover, a:active {	
	background-color: #eee;
	color: #000;
}

	
/* Paragraphs */
div.line-block,
p { margin-top: 1em !important;
    margin-bottom: 1em;display: block;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 0em 0 0 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li { margin-top: 0.5em;}

pre{background-color:  rgb(238, 238, 238); padding: 10px; margin: 10px; overflow: auto;}

/* Quotes */
blockquote {
    margin: 20px;
    border-left: 4px solid #ccc;
    font-style: italic;
}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {margin: 0 auto; width: 100%; max-width: 800px;}
img.right, figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: left; margin: 0 2em 2em 0;}

/*
	Header
*****************/
.github_ribbon{
	display: none;
}



#banner {
	margin: 0 auto;
	padding: .5em 0 0 0;
}

	/* Banner */
	#banner h1 {font-size: 1.4em; line-height: 0;}
	#banner h1 a:link, #banner h1 a:visited {
		color: #555;
		display: block;
		font-weight: bold;
		margin: 0 0 .6em .2em;
		text-decoration: none;
		border-bottom: none;
		text-align: center;
	}
	#banner h1 a:hover, #banner h1 a:active {
		background: none;
		color: #C74350;
		text-shadow: none;
	}
	
	#banner .site-subtitle {font-style: italic;font-weight: normal;text-align: center}
	
	/* Main Nav */
	#banner nav {
		height: 40px;
		line-height: 30px;
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: 100%;
		max-width: 800px;
		border-top: 1px dashed #ccc;
		border-bottom: 1px dashed #ccc;
	
	}
	
	#banner nav ul {list-style: none; margin: 0 auto; width: 100%;max-width: 800px;display: flex;
		justify-content:center;}
	#banner nav li {float: left; display: inline; margin: 0;}
	#banner li:after{content:" / ";}
		
	#banner a{margin-left: 7px;}

	
	#banner nav a:link, #banner nav a:visited {
		display: inline-block;
		height: 38px;
		padding: 5px .5em;
		text-decoration: none;
		border-bottom: none;
	}
	#banner nav a:hover, #banner nav a:active,
	#banner nav .active a:link, #banner nav .active a:visited {
		text-shadow: none !important;
	}
	
	#banner li:last-of-type:after {
		content: "";
	}

/*
	Featured
*****************/
#featured {
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 100%;
	max-width: 800px;
}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}

#featured figure img {display: block; float: right;}

#featured h2 {color: #C74451; font-size: 1.714em; margin-bottom: 0.333em;}
#featured h3 {font-size: 1.429em; margin-bottom: .5em;}

#featured h3 a:link, #featured h3 a:visited {color: #000305; text-decoration: none;}
#featured h3 a:hover, #featured h3 a:active {color: #fff;}

/*
	Body
*****************/
#content {
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;

	width: 100%;
	max-width: 800px;
}

/*
	Extras
*****************/
#extras {margin: 0 auto 3em auto; overflow: hidden;}

#extras ul {list-style: none; margin: 0;}
#extras li {border-bottom: 1px solid #fff;}
#extras h2 {
	color: #C74350;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link, #extras a:visited {
	color: #444;
	display: block;
	border-bottom: 1px solid #F4E3E3;
	text-decoration: none;
	padding: .3em .25em;
}

#extras a:hover, #extras a:active {}

	/* Blogroll */
	#extras .blogroll {
		float: left;
		width: 100%;
	}
	
	#extras .blogroll li {float: left; margin: 0 20px 0 0;}
	
	/* Social */
	#extras .social {
		float: right;
		width: 175px;
	}
	
	#extras div[class='social'] a {
		background-repeat: no-repeat;
		background-position: 3px 6px;
		padding-left: 25px;
	}
	
		/* Icons */
		.social a[href*='about.me'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/aboutme.png');}
		.social a[href*='bitbucket.org'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/bitbucket.png');}
		.social a[href*='delicious.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/delicious.png');}
		.social a[href*='digg.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/digg.png');}
		.social a[href*='facebook.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/facebook.png');}
		.social a[href*='gitorious.org'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/gitorious.png');}
		.social a[href*='github.com'],
		.social a[href*='git.io'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/github.png');}
		.social a[href*='gittip.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/gittip.png');}
		.social a[href*='plus.google.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/google-plus.png');}
		.social a[href*='groups.google.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/google-groups.png');}
		.social a[href*='news.ycombinator.com'],
		.social a[href*='hackernewsers.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/hackernews.png');}
		.social a[href*='last.fm'], .social a[href*='lastfm.'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/lastfm.png');}
		.social a[href*='linkedin.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/linkedin.png');}
		.social a[href*='reddit.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/reddit.png');}
		.social a[type$='atom+xml'], .social a[type$='rss+xml'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/rss.png');}
		.social a[href*='slideshare.net'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/slideshare.png');}
		.social a[href*='speakerdeck.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/speakerdeck.png');}
		.social a[href*='stackoverflow.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/stackoverflow.png');}
		.social a[href*='twitter.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/twitter.png');}
		.social a[href*='vimeo.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/vimeo.png');}
		.social a[href*='youtube.com'] {background-image: url('http://omphalosskeptic.github.io/themeimages/icons/youtube.png');}

/*
	About
*****************/
#about {
	background: #fff;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 100%;
	max-width: 800px;
	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#about .primary {float: left; width: 165px;}
#about .primary strong {color: #C64350; display: block; font-size: 1.286em;}
#about .photo {float: left; margin: 5px 20px;}

#about .url:link, #about .url:visited {text-decoration: none;}

#about .bio {float: right; width: 500px;}

/*
	Footer
*****************/
#contentinfo {padding-bottom: 2em; text-align: right;}

/***** Sections *****/
/* Blog */
.hentry {
	display: block;
	clear: both;
	border-bottom: 1px solid #eee;
	padding: 1.5em 0;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0;}
.hentry img{display : none ;}
.entry-title {/*font-size: 3em;*/ margin-bottom: 10px; margin-top: 0;}
.entry-title a:link, .entry-title a:visited {text-decoration: none; color: #333;line-height: 1.4;}
.entry-title a:visited {background-color: #fff;}

.hentry .post-info * {font-style: normal;display: inline-block;}

.post-info p{
	text-indent: 0 !important;
	line-height: 1.4;
}

	/* Content */
	.hentry footer {margin-bottom: 2em;}
	.hentry footer address {display: inline;}
	#posts-list footer address {display: block;}

	/* Blog Index */
	#posts-list {list-style: none; margin: 0;}
	#posts-list .hentry {padding-left: 10px; position: relative;}
	
	#posts-list footer {
		left: 10px;
		position: relative;
        float: left;
		top: 0.5em;
		width: 190px;
	}
	
	/* About the Author */
	#about-author {
		background: #f9f9f9;
		clear: both;
		font-style: normal;
		margin: 2em 0;
		padding: 10px 20px 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	
	#about-author strong {
		color: #C64350;
		clear: both;
		display: block;
		font-size: 1.429em;
	}
	
	#about-author .photo {border: 1px solid #ddd; float: left; margin: 5px 1em 0 0;}
	
	/* Comments */
	#comments-list {list-style: none; margin: 0 1em;}
	#comments-list blockquote {
		background: #f8f8f8;
		clear: both;
		font-style: normal;
		margin: 0;
		padding: 15px 20px;
		
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#comments-list footer {color: #888; padding: .5em 1em 0 0; text-align: right;}
	
	#comments-list li:nth-child(2n) blockquote {background: #F5f5f5;}
	
	/* Add a Comment */
	#add-comment label {clear: left; float: left; text-align: left; width: 150px;}
	#add-comment input[type='text'],
	#add-comment input[type='email'],
	#add-comment input[type='url'] {float: left; width: 200px;}
	
	#add-comment textarea {float: left; height: 150px; width: 495px;}
	
	#add-comment p.req {clear: both; margin: 0 .5em 1em 0; text-align: right;}
	
	#add-comment input[type='submit'] {float: right; margin: 0 .5em;}
	#add-comment * {margin-bottom: .5em;}



@media all and (min-width: 800px) and (min-device-width : 480px){
	#banner h1{
		font-size: 2.2em;
	}

	.github_ribbon{
		display: block;
	}

}


@font-face {
      font-family: 'Linux Libertine Display';
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_dr-webfont.eot');
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_dr-webfont.eot?#iefix') format('embedded-opentype'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_dr-webfont.woff') format('woff'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_dr-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'Linux Libertine';
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_r-webfont.eot');
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_r-webfont.eot?#iefix') format('embedded-opentype'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_r-webfont.woff') format('woff'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_r-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;

  }

  @font-face {
      font-family: 'Linux Libertine';
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_rb-webfont.eot');
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_rb-webfont.eot?#iefix') format('embedded-opentype'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_rb-webfont.woff') format('woff'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_rb-webfont.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;

  }

  @font-face {
      font-family: 'Linux Libertine';
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_ri-webfont.eot');
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_ri-webfont.eot?#iefix') format('embedded-opentype'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_ri-webfont.woff') format('woff'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_ri-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: italic;

  }

  @font-face {
      font-family: 'Linux Libertine SC';
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_as-webfont.eot');
      src: url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_as-webfont.eot?#iefix') format('embedded-opentype'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_as-webfont.woff') format('woff'),
           url('http://omphalosskeptic.github.io/theme/fonts/linlibertine_as-webfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }