.author-info {
  margin-bottom: 0.5rem;
}

.author-info__image {
  max-width: 100px;  
  float: left;
  margin: 0 1rem 0.5rem 0;  
}

.author-info__image img {
  margin: 0;  
}

.author-info__name{
  margin-top: 2rem;
}